<!DOCTYPE html>
<html lang="en" data-bs-theme="light" data-menu-color="brand" data-topbar-color="light"
      th:replace="~{/admin/layout/layout :: main-fragment(
                                    ~{:: title},
                                    ~{:: #css-resources},
                                    ~{:: #main-content},
                                    ~{:: #js-resources}
                                 )}">
<head>
  <meta charset="utf-8" />
  <title>Actors | Add</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
  <meta content="Myra Studio" name="author" />


  <th:block id="css-resources">
    <!-- Plugins css -->
    <link th:href="@{/admin/libs/dropzone/min/dropzone.min.css}" rel="stylesheet" type="text/css" />
    <!-- Plugins css -->
    <link th:href="@{/admin/libs/mohithg-switchery/switchery.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/admin/libs/multiselect/css/multi-select.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/admin/libs/select2/css/select2.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/admin/libs/selectize/css/selectize.bootstrap3.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/admin/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css}" rel="stylesheet" type="text/css" />
  </th:block>

</head>
<body>

<main id="main-content">
  <div class="px-3">
    <div class="container-fluid">
      <!-- start page title -->
      <div class="py-3 py-lg-4">
        <div class="row">
          <div class="col-lg-6">
            <h4 class="page-title mb-0">Datatables</h4>
          </div>
          <div class="col-lg-6">
            <div class="d-none d-lg-block">
              <ol class="breadcrumb m-0 float-end">
                <li class="breadcrumb-item"><a href="javascript: void(0);">Tables</a></li>
                <li class="breadcrumb-item active">Datatables</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <!-- end page title -->

      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">

              <div class="row">
                <div class="col-12">
                  <div class="p-2">
                    <form class="form-horizontal" role="form">
                      <div class="mb-2 row">
                        <label class="col-md-2 col-form-label" for="simpleinput">Text</label>
                        <div class="col-md-10">
                          <input type="text" id="simpleinput" class="form-control" value="Some text value...">
                        </div>
                      </div>

                      <div class="mb-2 row">
                        <label class="col-md-2 col-form-label" for="example-email">Email</label>
                        <div class="col-md-10">
                          <input type="email" id="example-email" name="example-email" class="form-control" placeholder="Email">
                        </div>
                      </div>

                      <div class="mb-2 row">
                        <label class="col-md-2 col-form-label" for="example-date">Date</label>
                        <div class="col-md-10">
                          <input class="form-control" type="date" name="date" id="example-date">
                        </div>
                      </div>

                      <div class="mb-2 row">
                        <label class="col-md-2 col-form-label" for="example-number">Number</label>
                        <div class="col-md-10">
                          <input class="form-control" type="number" id="example-number" name="number">
                        </div>
                      </div>

                      <div class="mb-2 row">
                        <label class="col-md-2 col-form-label">Select</label>
                        <div class="col-md-10">
                          <select id="selectize-select">
                            <option data-display="Select">Nothing</option>
                            <option value="1">Some option</option>
                            <option value="2">Another option</option>
                            <option value="3" disabled>A disabled option</option>
                            <option value="4">Potato</option>
                          </select>
                        </div>
                      </div>

                      <div class="mb-2 row">
                        <label class="col-md-2 col-form-label">Maximum Allow</label>
                        <div class="col-md-10">
                          <select id="selectize-maximum">
                            <option value="">Select a state...</option>
                            <option value="AL">Alabama</option>
                            <option value="AK">Alaska</option>
                            <option value="AZ">Arizona</option>
                            <option value="AR">Arkansas</option>
                            <option value="CA" selected>California</option>
                            <option value="CO">Colorado</option>
                            <option value="CT">Connecticut</option>
                            <option value="DE">Delaware</option>
                            <option value="DC">District of Columbia</option>
                            <option value="FL">Florida</option>
                            <option value="GA">Georgia</option>
                            <option value="HI">Hawaii</option>
                            <option value="ID">Idaho</option>
                            <option value="IL">Illinois</option>
                            <option value="NH">New Hampshire</option>
                            <option value="SC">South Carolina</option>
                            <option value="SD">South Dakota</option>
                            <option value="WI">Wisconsin</option>
                            <option value="WY" selected>Wyoming</option>
                          </select>
                        </div>
                      </div>

                      <div class="mb-2 row">
                        <label class="col-md-2 col-form-label" for="example-fileinput">Default file input</label>
                        <div class="col-md-10">
                          <input type="file" class="form-control" id="example-fileinput">
                        </div>
                      </div>

                      <div class="mb-2 row">
                        <label class="col-md-2 col-form-label" for="example-textarea">Text area</label>
                        <div class="col-md-10">
                          <textarea class="form-control" id="example-textarea" rows="5"></textarea>
                        </div>
                      </div>

                      <div class="mb-2 row">
                        <label class="col-md-2 col-form-label">Switch button</label>
                        <div class="col-md-10">
                          <div class="switchery-demo">
                            <input type="checkbox" checked data-plugin="switchery" data-color="#039cfd"/>
                          </div>
                        </div>
                      </div>

                      <div class="mb-2 row">
                        <label class="col-md-2 col-form-label">Checkbox</label>
                        <div class="col-md-5">
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1">
                            <label class="form-check-label" for="flexCheckDefault1">
                              Default checkbox
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked2" checked>
                            <label class="form-check-label" for="flexCheckChecked2">
                              Checked checkbox
                            </label>
                          </div>
                        </div>

                        <div class="col-md-5">
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault3">
                            <label class="form-check-label" for="flexCheckDefault3">
                              Default checkbox
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked4" checked>
                            <label class="form-check-label" for="flexCheckChecked4">
                              Checked checkbox
                            </label>
                          </div>
                        </div>
                      </div>

                      <div class="row mb-2">
                        <label class="col-md-2 col-form-label">Drop files</label>
                        <div class="col-md-10">


                        </div>
                      </div>



                      <button type="submit" class="btn btn-primary float-end">Add New Actor</button>
                    </form>
                  </div>
                </div>
              </div>
              <!-- end row -->
            </div>
          </div> <!-- end card -->
        </div><!-- end col -->
      </div>
    </div>
  </div>
</main>

<th:block id="js-resources">
  <!-- Plugins Js -->
  <script th:src="@{/admin/libs/selectize/js/standalone/selectize.min.js}"></script>
  <script th:src="@{/admin/libs/mohithg-switchery/switchery.min.js}"></script>
  <script th:src="@{/admin/libs/multiselect/js/jquery.multi-select.js}"></script>
  <script th:src="@{/admin/libs/jquery.quicksearch/jquery.quicksearch.min.js}"></script>
  <script th:src="@{/admin/libs/select2/js/select2.min.js}"></script>
  <script th:src="@{/admin/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js}"></script>
  <script th:src="@{/admin/libs/bootstrap-maxlength/bootstrap-maxlength.min.js}"></script>
  <!-- Plugins js -->
  <script th:src="@{/admin/libs/dropzone/min/dropzone.min.js}"></script>
  <!-- Demo js-->
  <script th:src="@{/admin/js/pages/form-advanced.js}"></script>
  <script th:src="@{/admin/js/pages/form-fileuploads.js}"></script>
</th:block>
</body>
</html>