<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- ========== Left Sidebar ========== -->
<div class="main-menu" th:fragment="main-menu">
    <!-- Brand Logo -->
    <div class="logo-box">
        <!-- Brand Logo Light -->
        <a th:href="@{/admin}" class="logo-light">
            <img src="/admin/images/logo-light.png" alt="logo" class="logo-lg" height="28">
            <img src="/admin/images/logo-sm.png" alt="small logo" class="logo-sm" height="28">
        </a>

        <!-- Brand Logo Dark -->
        <a th:href="@{/admin}" class="logo-dark">
            <img src="/admin/images/logo-dark.png" alt="dark logo" class="logo-lg" height="28">
            <img src="/admin/images/logo-sm.png" alt="small logo" class="logo-sm" height="28">
        </a>
    </div>

    <!--- Head -->
    <div data-simplebar>
        <ul class="app-menu">

            <li class="menu-title">Head</li>
            <!--Dashboard-->
            <li class="menu-item">
                <a th:href="@{/admin}" class="menu-link waves-effect waves-light">
                    <span class="menu-icon"><i class="bx bx-home-smile"></i></span>
                    <span class="menu-text"> Dashboards </span>
                    <span class="badge bg-primary rounded ms-auto">01</span>
                </a>
            </li>

            <li class="menu-title">Menu</li>

            <!--Movies-->
            <li class="menu-item">
                <a href="#movies" data-bs-toggle="collapse" class="menu-link waves-effect waves-light">
                    <span class="menu-icon"><i class="mdi mdi-movie-open-outline"></i></span>
                    <span class="menu-text"> Movies </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="movies">
                    <ul class="sub-menu">
                        <li class="menu-item">
                            <a href="tables-basic.html" class="menu-link">
                                <span class="menu-text">Movies List</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="tables-datatables.html" class="menu-link">
                                <span class="menu-text">Add New Movies</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <!--Genres-->
            <li class="menu-item">
                <a href="#genres" data-bs-toggle="collapse" class="menu-link waves-effect waves-light">
                    <span class="menu-icon"><i class="bx bx-table"></i></span>
                    <span class="menu-text"> Genres </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="genres">
                    <ul class="sub-menu">
                        <li class="menu-item">
                            <a href="tables-basic.html" class="menu-link">
                                <span class="menu-text">Genres List</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="tables-datatables.html" class="menu-link">
                                <span class="menu-text">Add New Genres</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <!--Episodes-->
            <li class="menu-item">
                <a href="#episodes" data-bs-toggle="collapse" class="menu-link waves-effect waves-light">
                    <span class="menu-icon"><i class="mdi mdi-clipboard-list-outline"></i></span>
                    <span class="menu-text"> Episodes </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="episodes">
                    <ul class="sub-menu">
                        <li class="menu-item">
                            <a href="tables-basic.html" class="menu-link">
                                <span class="menu-text">Episodes List</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="tables-datatables.html" class="menu-link">
                                <span class="menu-text">Add New Episodes</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <!--Directors-->
            <li class="menu-item">
                <a href="#directors" data-bs-toggle="collapse" class="menu-link waves-effect waves-light">
                    <span class="menu-icon"><i class="mdi mdi-account-tie-voice"></i></span>
                    <span class="menu-text"> Directors </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="directors">
                    <ul class="sub-menu">
                        <li class="menu-item">
                            <a href="tables-basic.html" class="menu-link">
                                <span class="menu-text">Directors List</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="tables-datatables.html" class="menu-link">
                                <span class="menu-text">Add New Directors</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <!--Writers-->
            <li class="menu-item">
                <a href="#writers" data-bs-toggle="collapse" class="menu-link waves-effect waves-light">
                    <span class="menu-icon"><i class="mdi mdi-book-open-page-variant-outline"></i></span>
                    <span class="menu-text"> Writers </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="writers">
                    <ul class="sub-menu">
                        <li class="menu-item">
                            <a href="tables-basic.html" class="menu-link">
                                <span class="menu-text">Writers List</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="tables-datatables.html" class="menu-link">
                                <span class="menu-text">Add New Writers</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <!--Actors-->
            <li class="menu-item">
                <a href="#actors" data-bs-toggle="collapse" class="menu-link waves-effect waves-light">
                    <span class="menu-icon"><i class="mdi mdi-account-star-outline"></i></span>
                    <span class="menu-text"> Actors </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="actors">
                    <ul class="sub-menu">
                        <li class="menu-item">
                            <a th:href="@{/admin-actors}" class="menu-link">
                                <span class="menu-text">Actors List</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a th:href="@{/admin-actors/add}" class="menu-link">
                                <span class="menu-text">Add New Actors</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <!--Reviews-->
            <li class="menu-item">
                <a href="#" data-bs-toggle="collapse" class="menu-link waves-effect waves-light">
                    <span class="menu-icon"><i class="mdi mdi-playlist-edit"></i></span>
                    <span class="menu-text"> Reviews </span>
                </a>
            </li>

            <li class="menu-title">Topics</li>

            <!--News-->
            <li class="menu-item">
                <a href="#news" data-bs-toggle="collapse" class="menu-link waves-effect waves-light">
                    <span class="menu-icon"><i class="mdi mdi-newspaper-variant-multiple"></i></span>
                    <span class="menu-text"> News </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="news">
                    <ul class="sub-menu">
                        <li class="menu-item">
                            <a href="tables-basic.html" class="menu-link">
                                <span class="menu-text">News List</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="tables-datatables.html" class="menu-link">
                                <span class="menu-text">Add New News</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <!--Categories-->
            <li class="menu-item">
                <a href="#categories" data-bs-toggle="collapse" class="menu-link waves-effect waves-light">
                    <span class="menu-icon"><i class="mdi mdi-format-list-bulleted"></i></span>
                    <span class="menu-text"> Categories </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="categories">
                    <ul class="sub-menu">
                        <li class="menu-item">
                            <a href="tables-basic.html" class="menu-link">
                                <span class="menu-text">Categories List</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="tables-datatables.html" class="menu-link">
                                <span class="menu-text">Add New Categories</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <!--Q & A-->
            <li class="menu-item">
                <a href="#qa" data-bs-toggle="collapse" class="menu-link waves-effect waves-light">
                    <span class="menu-icon"><i class="mdi mdi-progress-question"></i></span>
                    <span class="menu-text"> Q&A </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="qa">
                    <ul class="sub-menu">
                        <li class="menu-item">
                            <a href="tables-basic.html" class="menu-link">
                                <span class="menu-text">Q&A List</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="tables-datatables.html" class="menu-link">
                                <span class="menu-text">Add New Q&A</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="menu-title">Custom</li>

            <!--Accounts-->
            <li class="menu-item">
                <a th:href="@{/admin-accounts}" class="menu-link waves-effect waves-light">
                    <span class="menu-icon"><i class="mdi mdi-account-supervisor"></i></span>
                    <span class="menu-text"> Accounts </span>
                </a>
            </li>

        </ul>
    </div>
</div>

</body>
</html>