<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- start page title -->
<div class="py-3 py-lg-4" th:fragment="start-page-title">
    <div class="row">
        <div class="col-lg-6">
            <h4 class="page-title mb-0">Datatables</h4>
        </div>
        <div class="col-lg-6">
            <div class="d-none d-lg-block">
                <ol class="breadcrumb m-0 float-end">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Tables</a></li>
                    <li class="breadcrumb-item active">Datatables</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- end page title -->
</body>
</html>