<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!--signup form popup-->
    <div class="login-wrapper" id="signup-content" th:fragment="signup">
        <div class="login-content">
            <a href="#" class="close">x</a>
            <h3>sign up</h3>
            <form th:action="@{/accounts/add}" th:object="${accountsDto}" method="post" >

<!--                <div th:if="${my_error}" class="row">-->
<!--                    <span th:text="${my_error}" class="alert alert-danger"></span>-->
<!--                </div>-->

                <div class="row">
                    <label>
                        Username:
                        <input type="text" th:field="*{userName}" placeholder="Enter your username" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{8,20}$" required="required" />
                    </label>
<!--                    <div th:if="${#fields.hasErrors('userName')}">-->
<!--                        <ul>-->
<!--                            <li th:each="e : ${#fields.errors('userName')}" th:text="${e}"></li>-->
<!--                        </ul>-->
<!--                    </div>-->
                </div>

<!--                <div class="row">-->
<!--                    <label for="email-2">-->
<!--                        your email:-->
<!--                        <input type="email" name="email" th:field="*{email}" id="email-2" placeholder="" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required="required" />-->
<!--                    </label>-->
<!--                    <div th:if="${#fields.hasErrors('email')}">-->
<!--                        <ul>-->
<!--                            <li th:each="e : ${#fields.errors('email')}" th:text="${e}"></li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="row">-->
<!--                    <label for="password-2">-->
<!--                        Password:-->
<!--                        <input type="password" th:field="*{password}" name="password" id="password-2" placeholder="" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required="required" />-->
<!--                    </label>-->
<!--                    <div th:if="${#fields.hasErrors('password')}">-->
<!--                        <ul>-->
<!--                            <li th:each="e : ${#fields.errors('password')}" th:text="${e}"></li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="row">-->
<!--                    <label for="repassword-2">-->
<!--                        re-type Password:-->
<!--                        <input type="password" name="password" th:field="*{rePassword}" id="repassword-2" placeholder="" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required="required" />-->
<!--                    </label>-->
<!--                    <div th:if="${#fields.hasErrors('rePassword')}">-->
<!--                        <ul>-->
<!--                            <li th:each="e : ${#fields.errors('rePassword')}" th:text="${e}"></li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </div>-->

                <div class="row">
                    <button type="submit">sign up</button>
                </div>
            </form>
        </div>
    </div>
    <!--end of signup form popup-->
</body>
</html>