<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="hero common-hero" th:fragment="start-page-title">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hero-ct">
          <h1> blog listing - grid</h1>
          <ul class="breadcumb">
            <li class="active"><a href="#">Home</a></li>
            <li> <span class="ion-ios-arrow-right"></span> blog listing</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- blog grid section-->
</body>
</html>